*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.021);
}

/* cart */
.card{
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
}
.card_details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.button{
    background-color:  rgb(246 238 238);
    width: 200px;
    height: 33px;   
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
}
.fl{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
    gap: 25px;
    flex-wrap: wrap;
}
img{
    width: 190px;
    height: 300px;
}
#main_card{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 900px;
}


.material-symbols-outlined {
    cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/*  navbar */
#nav{
    position: sticky;
    top: 0px;
}
.navbar_main{
    background-color:  rgb(246 238 238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 2px rgba(0, 0, 0, 0.226) solid;
    flex-wrap: wrap;
   
}
.navbar_right{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.se{
  border-right: none;
  border-top: none;
  border-left: none; 
  background-color:  rgba(240, 218, 218, 0.336);
}
#hr_main_card{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    gap: 10px;
}
.img{
    width: 120px;
    height: 170px;
}

button:hover{
    background-color: rgba(190, 18, 18, 0.842);
    color: rgb(233, 230, 230);
}
.filter{
    display: flex;
}
#filter_part{
    background-color:  rgb(246 238 238);
    width: 250px;
    height: 550px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    left: 0px;
    top:72px;
    flex-wrap: wrap;
}

#filter_sybole{
    visibility: hidden;
}
/* for mobile desing */
@media screen and (max-device-width: 500px) {
        .card{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
}
img{
    width: 160px;
    height: 170px;
}
#filter_sybole{
    visibility: visible;
}
.card_details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.navbar_main{
    background-color:  rgb(246 238 238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 2px rgba(0, 0, 0, 0.226) solid;
    flex-wrap: wrap;
    height: 105px;
    
}
.navbar_right{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#filter_part{
    background-color:  rgb(246 238 238);
    width: 350px;
    height: 750px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0px;
    top:72px;
    flex-wrap: wrap;
    visibility: hidden;
}
.filter_part_d{
    background-color:  rgb(246 238 238);
    width: 590px;
    height: 1050px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    left: 0px;
    top:108px;
    flex-wrap: wrap;
}
.button{
    background-color:  rgb(246 238 238);
    width: 129px;
    height: 30px;   
    border-radius: 10px;
    cursor: pointer;
}


}
 